
<header class="h-screen flex flex-col">
  <nav class="border-b-2 border-dark-blue sticky top-0 bg-dark z-10">
    <div
      class="flex text-white h-[100px] justify-between items-center max-w-[1920px] mx-auto"
    >
      <a class="font-bold text-2xl" href="">< / ></a>

      <ul class="flex gap-x-10">
        <li><a class="p-2 nav-item" href="#">Inicio</a></li>
        <li><a class="p-2 nav-item" href="#">Sobre Mí</a></li>
        <li><a class="p-2 nav-item" href="#">Experiencia</a></li>
        <li><a class="p-2 nav-item" href="#">Portafolio</a></li>
        <li><a class="p-2 nav-item" href="#">Contacto</a></li>
      </ul>
    </div>
  </nav>

  <div class="grow max-w-[1920px] mx-auto flex justify-between items-center gap-x-20">
    <div >
        <img class="h-[600px] floating" src="assets/images/astronaut.png" alt="">
    </div>
    <div>
      <h1 class="text-7xl font-extrabold text-gray-300 mb-7">
        Hola, Soy <span class="text-custom-orange">Jimmy</span>
      </h1>
      <h2 class="text-4xl text-gray-300 mb-7 font-semibold ">Desarrollador Frontend</h2>
      <p class="font-light text-xl text-custom-orange mb-7">
        Apasionado del mundo del diseño y programación de aplicaciones web y
        móviles,<br />
        digitalizando las ideas creativas con el superpoder de la programación.
      </p>

      <div class="text-light text-5xl flex gap-x-3 ">
        <a class="hover:scale-110" href=""><i class="uil uil-github"></i></a>
        <a class="hover:scale-110" href=""><i class="uil uil-linkedin"></i></a>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="h-screen w-[1920px] mx-auto">
    <h2>Sobre Mí</h2>
  </div>
</main>
